/internal/
/tmp/
/generated/
/impl/rust/target/
/impl/rust/bin/
/impl/go/bin/
/impl/python/bin/
/impl/zig/bin/
/impl/zig/.zig-cache/
/impl/zig/.zig-global-cache/
/impl/zig/zig-out/
/impl/java/build/
/impl/java/bin/
/impl/typescript/build/
/impl/typescript/bin/
/impl/lua/bin/
/impl/c/build/
/impl/c/bin/
__pycache__/
*.py[cod]
